.tweet
  a onclick="return tweet()" href="#" <i class="icon-twitter"></i> Tweet this post if you found it useful
  javascript:
    delete tweet;
    var tweet = function () {
      var left = (screen.width/2)-(600/2);
      var top = (screen.height/2)-(300/2);
      window.open(
        "https://twitter.com/share?via=andruu&text=Check out #{page.title}&url=#{page_url(page.slug)}",
        "Tweet Post", "width=600,height=300,top="+top+",left="+left+""
      );
      return false;
    }