@import 'bourbon';
@import 'select2';

.select2-results {
  text-align: left;
}

.select2-container-multi .select2-choices {
    font-size:16px;
    outline: none;
    width:400px;
    border:1px solid #bbb;
    @include border-radius(4px);
    padding:6px;
    padding-top:7px;
    @include box-shadow(inset 1px 1px 3px rgba(0,0,0,0.2));
}